

<div class="container-fluid mt-5">
    <div class="row">
      <div class="col">
        <h2>Total complaint</h2>
        <h3>Total number of complaint : <span class="bg-red">5121</span></h3>
        <ul>
            <li class="solved">Solved</li>
            <li class="unsolved">Unsolved</li>
            <li class="reopend">Reopend</li>
        </ul>
        <div class="chart"> 
            <canvas id="ctx"  width="400" height="400"></canvas>
        </div>
      </div>
      <div class="col">
        <h2>Department Wise complaint</h2>
       
      </div>
    </div>
  </div>