<section class="container">
        <div class="header">
                <h1>LIST OF ALL COMPLAINTS</h1>      
            </div>
            <div class="complaint">
                    <table class="table table-bordered">
                           
                            <thead>
                              <tr>
                                <th scope="col">Complaint Id</th>
                                <th scope="col">Citizen Name</th>
                                <th scope="col" >Department</th>
                                <th scope="col" class="desc">Description</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="row">C-1231</td>
                                <td>Akash Mane</td>
                                <td>GAS</td>
                                <td class="desc">
                                    In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                                </td>
                                <td>Solved</td>
                                <td>10-10-2020</td>                               
                              </tr>
                              <tr> 
                                    <td scope="row">C-1231</td>
                                    <td>Akash Mane</td>
                                    <td>GAS</td>
                                    <td class="desc">
                                        In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                                    </td>
                                    <td>Solved</td>
                                    <td>10-10-2020</td>  
                              </tr>
                              <tr>
                                    <td scope="row">C-1231</td>
                                    <td>Akash Mane</td>
                                    <td>GAS</td>
                                    <td class="desc">
                                        In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                                    </td>
                                    <td>Solved</td>
                                    <td>10-10-2020</td>  
                              </tr>
                              <tr>
                                  <td scope="row">C-1231</td>
                                  <td>Akash Mane</td>
                                  <td>GAS</td>
                                  <td class="desc">
                                      In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                                  </td>
                                  <td>Solved</td>
                                  <td>10-10-2020</td>  
                            </tr>
                            <tr>
                                <td scope="row">C-1231</td>
                                <td>Akash Mane</td>
                                <td>GAS</td>
                                <td class="desc">
                                    In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                                </td>
                                <td>Solved</td>
                                <td>10-10-2020</td>  
                          </tr>
                          <tr>
                              <td scope="row">C-1231</td>
                              <td>Akash Mane</td>
                              <td>GAS</td>
                              <td class="desc">
                                  In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                              </td>
                              <td>Solved</td>
                              <td>10-10-2020</td>  
                        </tr>
                        <tr>
                            <td scope="row">C-1231</td>
                            <td>Akash Mane</td>
                            <td>GAS</td>
                            <td class="desc">
                                In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                            </td>
                            <td>Solved</td>
                            <td>10-10-2020</td>  
                      </tr>
                      <tr>
                          <td scope="row">C-1231</td>
                          <td>Akash Mane</td>
                          <td>GAS</td>
                          <td class="desc">
                              In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                          </td>
                          <td>Solved</td>
                          <td>10-10-2020</td>  
                    </tr>
                    <tr>
                        <td scope="row">C-1231</td>
                        <td>Akash Mane</td>
                        <td>GAS</td>
                        <td class="desc">
                            In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                        </td>
                        <td>Solved</td>
                        <td>10-10-2020</td>  
                  </tr>
                  <tr>
                      <td scope="row">C-1231</td>
                      <td>Akash Mane</td>
                      <td>GAS</td>
                      <td class="desc">
                          In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                      </td>
                      <td>Solved</td>
                      <td>10-10-2020</td>  
                </tr>
                <tr>
                    <td scope="row">C-1231</td>
                    <td>Akash Mane</td>
                    <td>GAS</td>
                    <td class="desc">
                        In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                    </td>
                    <td>Solved</td>
                    <td>10-10-2020</td>  
              </tr>
              <tr>
                  <td scope="row">C-1231</td>
                  <td>Akash Mane</td>
                  <td>GAS</td>
                  <td class="desc">
                      In legal terminology, a complaint is any formal legal document that sets out the facts and legal reasons (see: cause of action) that the filing party or parties (the plaintiff(s)) believes are sufficient to support a claim against the party or parties against whom the claim is brought (the defendant(s)) that entitles the plaintiff(s) to a remedy (either money damages or injunctive relief). For example, the Federal Rules of Civil Procedure (FRCP) that govern civil litigation in United States courts provide that a civil action is commenced with the filing or service of a pleading called a complaint.
                  </td>
                  <td>Solved</td>
                  <td>10-10-2020</td>  
            </tr>
                            </tbody>
                          </table>
            </div>
</section>
