<section class="container">
        <div class="page-header">
                <h1>List Of Department</h1>      
            </div>
            <div>
                    <table class="table table-bordered">
                          
                            <thead>
                              <tr>
                                <th scope="col">Department Id</th>
                                <th scope="col">Department Name</th>
                                <th scope="col">Action</th>
                              
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="row">1</td>
                                <td>GAS</td>
                                <td>
                                    <button class="btn">Delete</button>
                                </td>
                               
                              </tr>
                              <tr>
                                <td scope="row">2</td>
                                <td>WATER</td>
                                <td>
                                    <button class="btn">Delete</button>
                                </td>
                               
                              </tr>
                              <tr>
                                <td scope="row">3</td>
                                <td>LIGHT</td>
                                <td>
                                        <button class="btn">Delete</button>

                                </td>
                               
                              </tr>
                            </tbody>
                          </table>
            </div>
</section>
