
<div class="container1">

        <div class="tasklist">
                <div class="task"   style="background-color: #f35b5b"><h2>Total Complaints </h2><h1>100</h1></div>
                <div class="task"  style="background-color: #f8933b"><h2>Solved Complaints</h2><h1>100</h1></div>
                <div class="task"  style="background-color: #54c2a5"><h2>Unsolved Complaints</h2><h1>100</h1></div>
                <div class="task"   style="background-color: #23b9e7"><h2>Reopened Complaints</h2><h1>100</h1></div>    
           </div>
        <div class="row">
                <div class="col-6">
                        <div class="main">
                            <div class="sub">
                                <div class="col"><img src="../../../assets/images/lg.jpg" alt=""></div>
                                <div class="col"></div>
                                
                                <h4>Water</h4>
                            </div>
                            <div class="sub">
                                    <img src="../../../assets/images/gas.jpg" alt="">
                                    <h4>Gas</h4>
                            </div>
                            <div class="sub">
                                    <img src="../../../assets/images/garbage.jpg" alt="">
                                    <h4>Garbage</h4>
                            </div>
                            <div class="sub">
                                    <img src="../../../assets/images/light.jpg" alt="">
                                    <h4>Light</h4>
                            </div>
                           
                        </div>
        
                  </div>
          <div class="col-5 user">
              <h2>Total Number Of Users</h2>
             <div class="circle">
                        <span>10000</span>
             </div>
                
          </div>
         
        </div>
      </div>
