.image{
    width: 20%;
    height: 20%;
}
.table{
    border: 1px solid grey;
}

.modal{
    background: rgba(0, 0, 0, .5)
}
.heading{
    background-color:cadetblue
}
.pagination{
    justify-content: center
}