.card-deck{
    margin-top: 40px;
    margin-left: 20px;
     width: 80%;  
     margin-bottom: 20px
}


.card{
    box-shadow: 0 2px 5px grey; 
   
}

.card-title{
    font-weight: bolder;
    font-size: 120%;
}