<div class="card-deck">
    <div class="card">
      <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Water')"> <img class="card-img-top" src="../../../assets/departmentImages/water.png" alt="Card image cap"></a> 
        <div class="card-body">
            <h5 class="card-title">Water</h5>

        </div>
    </div>
    <div class="card">
        <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('solid-waste')"><img class="card-img-top" src="../../../assets/departmentImages/solid-waste.jpg" alt="Card image cap"></a> 
        <div class="card-body">
            <h5 class="card-title">Solid Waste</h5>

        </div>
    </div>
    <div class="card">
       <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('road')"> <img class="card-img-top" src="../../../assets/departmentImages/road.jpg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
    </div>
 
</div>
<div class="card-deck">

<div class="card">
    <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('LPG')"><img class="card-img-top" src="../../../assets/departmentImages/LPG.jpg" alt="Card image cap"></a> 
   <div class="card-body">
        <h5 class="card-title">Card title</h5>

    </div>
</div>
<div class="card">
   <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('electricity')"><img class="card-img-top" src="../../../assets/departmentImages/electricity.jpg" alt="Card image cap"></a> 
    <div class="card-body">
        <h5 class="card-title">Card title</h5>

    </div>
</div>
<div class="card">
 <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Property-Tax')"> <img class="card-img-top" src="../../../assets/departmentImages/Property-Tax.jpg" alt="Card image cap"></a>  
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
    </div>
</div>
</div>

