<div class="card-deck">
    <div class="card">
      <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Water')"> <img class="card-img-top" src="../../../assets/images/water.jpg" alt="Card image cap"></a> 
        <div class="card-body">
            <h5 class="card-title">Water</h5>

        </div>
    </div>
    <div class="card">
        <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Solid Waste')"><img class="card-img-top" src="../../../assets/images/garbage.jpg" alt="Card image cap"></a> 
        <div class="card-body">
            <h5 class="card-title">Solid Waste</h5>

        </div>
    </div>
    <div class="card">
       <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Road')"> <img class="card-img-top" src="../../../assets/images/road.jpg" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title">Road</h5>
        </div>
    </div>
 
</div>
<div class="card-deck">

<div class="card ">
    <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('LPG')"><img class="card-img-top" src="../../../assets/images/gas.jpg" alt="Card image cap"></a> 
   <div class="card-body">
        <h5 class="card-title">LPG</h5>

    </div>
</div>
<div class="card">
   <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Electricity')"><img class="card-img-top" src="../../../assets/images/light.jpg" alt="Card image cap"></a> 
    <div class="card-body">
        <h5 class="card-title">Electricity</h5>

    </div>
</div>
<div class="card">
 <a [routerLink]="['../citizen-complaint-register-form']" (click)="sendToForm('Property Tax')"> <img class="card-img-top" src="../../../assets/images/property1.jpg" alt="Card image cap"></a>  
    <div class="card-body">
        <h5 class="card-title">Property-Tax</h5>
    </div>
</div>
</div>

