<section class="container">
        <div class="page-header">
                <h1>List Of Department Head</h1>      
            </div>
            <div>
                    <table class="table table-bordered">
                          
                            <thead>
                              <tr>
                                <th scope="col" colspan = "2">Department Head Id</th>
                                <th scope="col">Department Name</th>
                                <th scope="col">Department</th>                               
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Delete</th>                             
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Akshay Chandure</td>
                                <td>GAS</td>
                                <td>akshaychandure</td>
                                <td>akshaychandure@gmail.com</td>
                                <td>78945615623</td>
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Akshay Chandure</td>
                                <td>GAS</td>
                                <td>akshaychandure</td>
                                <td>akshaychandure@gmail.com</td>
                                <td>78945615623</td>
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Akshay Chandure</td>
                                <td>GAS</td>
                                <td>akshaychandure</td>
                                <td>akshaychandure@gmail.com</td>
                                <td>78945615623</td>
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
            </div>
</section>
