.footer{
    width: 100%;
   text-align: center;
   padding-top: 25px;
   padding-bottom:20px;  
  color: white;
  position: relative;
  bottom: 0;
}
.theme-1{
  background-color: #45494e;
}
.theme-2{
  background-color: #22a3b9;
}
.theme-3{
  background-color: #2f997d;
}
.theme-4{
  background-color: #ec5858;
}