<div class="row justify-content-center">
<div class="card">
    <h4 class="card-header text-white">Transfer Complaint</h4>
    <div class="card-body">
      <label for="complainid">Complain ID</label>
      <input type="text" id="complainid" class="form-control mb-3" placeholder="Complain Id">
      <div class="dropd">
      <label for="department">Select Department</label><br>
      <select name="department" id="dept">
        <option value="water">Water</option>
        <option value="road">Road</option>
        <option value="property">Property</option>
        <option value="electricity">Electricity</option>
      </select>
    </div>
      <button class="btn btn-primary mb-2 mt-3" type="submit">Submit</button>
      <button class="btn btn-danger mb-2 mt-3" type="reset">Reset</button>
    </div>
  </div>
</div>