
<div class="container">
    <div class="header">
        <h1>Add New Department Head</h1>
    </div>
    <form method="POST" #RegisterForm="ngForm" (ngSubmit)="registerDepartmentHead()">
        <div class="form-group">
            <input type="text" class="form-control"
            placeholder="Enter Employee Name "
            name="emp"
            required
            [(ngModel)]="depthead.name"
            minlength="5"
            #empname="ngModel"
            [class.is-invalid]="empname.invalid && empname.touched">
        </div>
        <div>
            <small class="text-danger" [class.d-none]="empname.valid || empname.untouched">Employee Name is required</small>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control"
            placeholder="Enter Email"
            name="email"
            pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"
            [(ngModel)]="depthead.email"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.untouched"
            (change)="checkEmail()">
        </div>
        <div>
            <small class="text-danger" *ngIf="email.touched && email.valid" >Email is required</small>
            <small class="text-danger"  *ngIf="!validEmail && email.touched" >Email is Already Exists</small>
        </div>

        <div class="form-group">
            <input type="number" class="form-control" 
            placeholder="Enter Contact Number"
            name="contact"
            required
            [(ngModel)]="depthead.phone"
            minlength="10"
            #contact="ngModel"
            [class.is-invalid]="contact.invalid && contact.touched">
        </div>
        <div *ngIf="contact.errors && (contact.invalid && contact.touched)">
            <small class="text-danger" *ngIf="contact.errors">Enter a valid Mobile Number</small>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" 
            placeholder="Enter Department name"
            name="department"
            [(ngModel)]="depthead.departmentName"
            required
            >
        </div>

        <div class="form-group">
            <input type="text" class="form-control"
                placeholder="Enter Username" 
                name="username"
                [(ngModel)]="depthead.username"
                #username="ngModel"
                (change)="checkUsername()">
        </div>
       <div class="text-danger" *ngIf="!validUsername && username.touched ">
           Username Already Exists
       </div>

        <div class="form-group">
            <input type="password" class="form-control"
                placeholder="Enter Password" 
                name="password"
                required
                [(ngModel)]="depthead.password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]+$"
                #password="ngModel"
                [class.is-invalid]="password.invalid && password.touched">
            </div>
            <div *ngIf="password.errors && (password.invalid && password.touched)">
                <small class="text-danger" *ngIf="password.errors.pattern">Minimum len 5 and must contains letter(both upper and lower) and number</small>
            </div>
    
        <button type="submit"  [disabled]="!validUsername" class="btn">Add Department</button>
    </form>
</div>
