.container1{
    margin-top: 4%;
   
}
.container1 img{
    width: 83%;
    margin: 2%;
}
.container1 h1{
    font-weight: bolder;
}
.main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}
.sub{
    width: 240px;
    height: 180px;
   box-shadow: 5px 5px 5px 5px grey;
    margin: 3%;
    text-align: center;
    
}
.sub h4{
    font-weight: bolder;
}
.sub:hover{
    transform: scale(1.05)
}
.sub img{
    width: 50%;
    margin-top: 10%
}


.tasklist{
    display: flex;
    flex-wrap: wrap
}
.task{
    width: 240px;
    height: 110px;
    box-shadow: 1px 2px 1px 2px rgb(189, 187, 187);  
    margin: 2%;
    text-align: center;
    padding: 10px 20px;
    color: rgb(27, 28, 31);
    cursor: pointer;
}
.user{
    box-shadow: 2px 2px 2px 2px grey;
  margin-top: 1.2%;
   margin-left: -3%;
   height: 23vw;

}
.circle{
   width: 60%;
   height: 80%;
   border-radius: 50%;
    border: 30px solid  #ec524b;
   margin: 4%;
   margin-left: 18%;
   text-align: center;
   box-shadow: 2px 2px 2px 2px grey;
   
}
.circle span{
   position: relative;
   top: 44%;
    font-size: 4vw;
}