
<h2 *ngIf="msg != ''" class="alert alert-success">{{msg}}</h2>
<div class="row justify-content-center">
<div class="card">
    <h4 class="card-header font-weight-bold">Change Password</h4>
    <div class="card-body">
      <form #myform ="ngForm" (ngSubmit)="onSubmit(myform)">
        <label for="oldPassword">Current Password</label>
        <input   #oldPassword="ngModel" type="password" name="oldpassword" class="form-control mb-3" id="exampleInputPassword1" placeholder="Old Password" ngModel required minlength="4">
        <span *ngIf="oldPassword.touched && !oldPassword.valid" [ngStyle]="{'color':'red','font-weight':'bold'}">Please enter the old password </span><br>
        <label for="newPassword">New Password</label>
        <input  #newPassword="ngModel" type="password" name="newPassword" class="form-control mb-3" id="exampleInputPassword2" placeholder="New Password" ngModel required minlength="4">
        <span *ngIf="newPassword.touched && !newPassword.valid" [ngStyle]="{'color':'red','font-weight':'bold'}">Please enter the new  password</span><br>
        <label for="confirmPassword">Confirm Password</label>
        <input  #confirmPassword="ngModel" type="password" name="confirmpassword" class="form-control mb-3" id="exampleInputPassword3" placeholder="Confirm Password" ngModel required appPasswordValidator="newPassword">
        <span *ngIf="confirmPassword.touched && !confirmPassword.valid" [ngStyle]="{'color':'red','font-weight':'bold'}">Passwords do not match </span><br>
        <button  [disabled]="!myform.valid" class="btn btn-primary mb-2" type="submit">Submit</button>
        <button class="btn btn-danger mb-2" type="reset">Reset</button>
      </form>
    </div>
  </div>
</div> 